In [11]:
import pandas as pd
import numpy as np
df=pd.read_csv('500_Person.csv')

In [12]:
df.head()

   Gender  Height  Weight  Marks
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [13]:
# no missing data thank god
df.isnull().sum()

Gender    0
Height    0
Weight    0
Marks     0
dtype: int64

In [14]:
df['Bmi']=[i for i in df.index]
df['Bmi'] = df['Bmi'].apply(lambda x: (df['Weight']/df['Height']*2))
df.head()

   Gender  Height  Weight  Marks       Bmi
0    Male     174      96      4  1.103448
1    Male     189      87      2  1.103448
2  Female     185     110      4  1.103448
3  Female     195     104      3  1.103448
4    Male     149      61      3  1.103448

In [17]:
!pip install pymysql

Requirement already satisfied: pymysql in /anaconda3/lib/python3.7/site-packages (0.9.3)

In [34]:
df.to_csv('newdata.csv')